


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: turquoise;

}
.homepage-container{
  text-align: center;
  margin: 0 50px 0 50px;
}
.homepage-row{
  display: flex;
  justify-content: space-between;
}